h1{
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  text-align: center;
  margin: 20px auto;
}

h2, h3, h4, h5, h6, p{
  font-family: 'Spectral', serif;
}

html{
  width: auto;
}

body{
  background-color: rgb(244, 232, 217);
  margin: 20px 100px;
}

/* section{
  background-color: rgba(0, 0, 0, 0.18);
} */

form{
  margin: 10px;
}
#links, #links a{
  text-decoration-line: none;
  text-align: right;
  color: rgb(227, 136, 87)

}

#links a:hover{
  color: black;
}
