body {
  background-image: url('../img/cuttingboard90.jpg');
  background-size: cover;
}
#ingrediants-list , #steps-list , #random-recipe {
  border: 5px rgb(148, 145, 51) ridge;
  border-radius: 25px;
  margin: 5px auto;
  padding: 10px;
  position: relative;
  background-color: rgba(161, 117, 51, 0.8);
}
#lists-recipe {
  width: 85%;
  margin: 5px auto;
}